.cases(data-barba="container" data-barba-namespace="index")
  a.case(href="void.html" style="background-image: url(img/1.jpg);" data-background="1")
    .case__details
      h2.case__title Kitty
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/2.jpg);" data-background="2")
    .case__details
      h2.case__title Air Balloon
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/3.jpg);" data-background="3")
    .case__details
      h2.case__title Bird
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/4.jpg);" data-background="4")
    .case__details
      h2.case__title Flowers
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/5.jpg);" data-background="5")
    .case__details
      h2.case__title Lion
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/6.jpg);" data-background="6")
    .case__details
      h2.case__title Lightbulb
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/7.jpg);" data-background="7")
    .case__details
      h2.case__title Turntable
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/8.jpg);" data-background="8")
    .case__details
      h2.case__title Art
      p.case__text Click here to watch
  a.case(href="void.html" style="background-image: url(img/9.jpg);" data-background="9")
    .case__details
      h2.case__title Locker
      p.case__text Click here to watch