.overlay

.menu-content
  ul.menu-content__list
    li.menu-content__item
      a(href="#").menu-content__link Home
    li.menu-content__item
      a(href="#").menu-content__link Cases
    li.menu-content__item
      a(href="#").menu-content__link Void
    li.menu-content__item
      a(href="#").menu-content__link About
    li.menu-content__item
      a(href="#").menu-content__link Contacts

.menu
  .menu-btn
    .menu-btn__line
    .menu-btn__line
    .menu-btn__line
  .menu-btn__text Menu