.btn-scroll.btn-scroll--left.ended
  +icon('left-arrow', 'btn-scroll__icon btn-scroll__icon--left')
  .btn-scroll__text Scroll left
.btn-scroll.btn-scroll--right
  +icon('right-arrow', 'btn-scroll__icon btn-scroll__icon--right')
  .btn-scroll__text Scroll right